@model MVCFacebook.Models.ApplicationUser
@{
    ViewData["Title"] = "Profile";
}
@inject UserManager<ApplicationUser> Usermanager
@inject SignInManager<ApplicationUser> Signinmanager
@inject ApplicationDbContext context
<div id="UserImage">
    @if (Model.Image != null)
    {
        <partial name="_UserImage" model="@Model.Id" />
    }
    else
    {
        <img src="~/images/QM.jpg" />
    }
</div>


@if (Model.Id == Usermanager.GetUserId(User))
{
    <form asp-action="UploadImage" asp-route-id="@Model.Id" enctype="multipart/form-data" method="post"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#UserImage">
        <input type="file" name="files" />
        <button>Edit Image</button>
    </form>
}

<div>
    @if (Model.Id == Usermanager.GetUserId(User))
    {
        <a asp-action="EditInfo" asp-controller="User">Edit Info</a>
    }
    <h1>@($"{Model.FirstName} {Model.LastName}")</h1>
    <label>@Model.Gender.ToString()</label><br />
    <p>@Model.Bio</p>
    <p>@Model.BirthDate.ToShortDateString()</p><br />
</div>

<partial name="_FriendshipButton" model="Model" />


<partial name="_Friends.cshtml" model="Model" />

<partial name="_addPost" />
<div id="listPost">
    <partial name="_listPosts" model="Model.Posts.OrderByDescending(p=>p.CreationDate).ToList()" />
</div>


