@model MVCFacebook.Models.ApplicationUser
@{
    ViewData["Title"] = "Profile";
}
@inject UserManager<ApplicationUser> Usermanager
@inject SignInManager<ApplicationUser> Signinmanager
@inject ApplicationDbContext context

@if (Model.Image != null)
{
    <img src="/User/ViewImage?id=@Usermanager.GetUserId(User)" />
}
else
{
    <img src="~/images/QM.jpg" />
}



@if (Model.Id == Usermanager.GetUserId(User))
{
    <form asp-action="UploadImage" asp-route-id="@Model.Id" enctype="multipart/form-data" method="post">
        <input type="file" name="files" />
        <button>Edit Image</button>
    </form>
}

<div>
    <h1>@($"{Model.FirstName} {Model.LastName}")</h1>
    <label>@Model.Gender.ToString()</label><br />
    <p>@Model.Bio</p>
    <p>@Model.BirthDate.ToShortDateString()</p><br />
</div>

<div>
    @if (Model.Id != Usermanager.GetUserId(User))
    {
        @if (Model.FriendRequestsSent.Any(F => F.User2ID == Usermanager.GetUserId(User) && F.Pending))
        {
            <form method="post" asp-route-id="@Model.Id" asp-route-returnUrl="@($"{Url.Action()}/{Model.UserName}")" asp-action="AcceptFriendRequest">
                <input type="submit" value="Accept Friend" />
            </form>
        }
        else if (Model.FriendRequestsRecieved.Any(F => F.User1ID == Usermanager.GetUserId(User) && F.Pending))
        {
            <label> Friendship Pending </label>
        }
        else if (Model.Friends.Any(F => F.Id == Usermanager.GetUserId(User)))
        {
            <form method="post" asp-action="RemoveFriend" asp-route-id="@Model.Id">
                <input type="submit" value="Remove Friend" />
            </form>
        }
        else
        {
            <form method="post" asp-route-id="@Model.Id" asp-action="SendFriendRequest">
                <input type="submit" value="Add Friend" />
            </form>
        }
    }
</div>


@* Move Partials to another partial *@
@*<div><partial name="_FriendRequests.cshtml" model="@ViewBag.UsersRequestingFriendship" /></div>
    <div><partial name="_Friends.cshtml" model="Model.Friends" /></div>*@

<div> NewsFeed </div>
<div> Image </div>
