@model Post

<div style="position:relative ; ">
    <form method="post" asp-action="toggleLike" asp-route-post=@Model.ID
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="@($"#like_{Model.ID}")">
        <input type="submit" value="toggle like" class="btn btn-outline-success my-2 my-sm-0">
    </form>

    <a id="@($"like_slider_{Model.ID}")" style="position:absolute; right:2px ;top:2px" href="#"> @Model.Likes.Count Likes </a>

    <div id="@($"like_users_{Model.ID}")">
        @foreach (var item in Model.Likes)
        {
            <a asp-action="Profile" asp-controller="User" asp-route-username="@item.LikingUser.UserName">
                @(item.LikingUser.FirstName + " " + item.LikingUser.LastName)
            </a>
            <br />
        }
    </div>

    <script>
        document.getElementById('@($"like_users_{Model.ID}")').style.display = "none";
        document.getElementById('@($"like_slider_{Model.ID}")').addEventListener("click", function (event) {
            $("#@($"like_users_{Model.ID}")").slideToggle("fast");
            event.preventDefault();
        });
    </script>

</div>




